<div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/dashboard"></a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/actor" routerLinkActive="active">actors</a>
        </li>
        <li>
          <a routerLink="/category" routerLinkActive="active">categories</a>
        </li>
        <li>
          <a routerLink="/movie" routerLinkActive="active">movies</a>
        </li>
        <li>
          <a routerLink="/country" routerLinkActive="active">countries</a>
        </li>
        <li>
          <a routerLink="/director" routerLinkActive="active">directors</a>
        </li><li>
          <a routerLink="/gender" routerLinkActive="active">genders</a>
        </li>
        <li>
          <a routerLink="/nationality" routerLinkActive="active">nationalities</a>
        </li>
      </ul>      
    </nav>
    <router-outlet></router-outlet>
  </div>
 
<!-- <app-actor></app-actor>
<app-director></app-director>
<app-gender></app-gender>
<app-country></app-country>
<app-category></app-category>
<app-nationality></app-nationality>
<app-movie></app-movie> -->